
* {
    box-sizing: border-box ;

}

.display {
    width: 100vw;
    height: 100vw;

    margin: auto
   
}

#new {
    width: 100px;
    height: 60px;
}

.table {
    margin: auto;
}

.data {
    padding: 20px;

}

