* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Overpass;
    font-size: 12px;
    background-color: azure;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card {
    
    text-align: center;
    margin: 10px;
    width: 200px;
   height: auto;
    min-height: 222px;
    position:relative;
    display: inline-block;
    color:  rgb(79, 74, 46);;
}

li {
    list-style-type: none;
    padding: 3px;
}



.newBtn {
    font-weight: 700;
    font-size: 3em;
    position: absolute;
    top: 48%; 
  left: 51%; 
  padding: 5px;
  transform: translate(-50%, -50%); 
  text-align: center;
  background-color: rgba(0,0,0,0);
  color: rgb(97, 85, 85);
  border: 1px solid rgb(144, 132, 64);
  border-radius: 20px;
}

.newBtn:hover, .delete:hover {
    cursor: pointer;
}

dialog {
    align-self: center;
    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 10px;
   
}

input {
    margin: 10px;
    padding: 5px;
   
}

legend {
    font-weight: 700;
    font-size: 15px;
   padding: 10px
}

.submit {
    width: 150px;
    height: 30px;
    margin: 0 auto;
    padding: 5px;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

img {
   width: 200px;
    height: 270px;
    object-fit: fill;

}

ul {
position: absolute;
top: 48%; 
  left: 51%; 
  transform: translate(-50%, -50%); 
  text-align: center;
}

.delete {
    position: absolute;
    top: 90%; 
  left: 51%; 
  transform: translate(-50%, -50%); 
    padding: 5px;
    border-radius: 10px;
    background-color: orange;
    color: black;
    border: 0.5px solid black
}

.read {
    width: 70%;
    height: 20px;
}

.formnew {
    width: 100px;
    padding: 5px;
    height: 30px;
    margin: 10px 0px 20px 0px;
}